#hero-area{
    background-color: #212121;
}
#main{
    background-color: #262626;
}

.upper-line{
    background-color: #31D2F2;
    width: 85%;
    height: 10px;
    position:absolute;
    top: 0;
    left: 0;
}
.side-line{
    background-color: #31D2F2;
    width: 10px;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
}
.bar{
    width: 50px;
    height: 5px;
    border-radius: 2px;
    background-color: #31D2F2;
}
.card1-color{
    background-color: rgba(0, 174, 255, 0.233);
}
.card2-color{
    background-color: rgba(227, 31, 113, 0.233);
}
.card3-color{
    background-color: rgba(136, 56, 180, 0.233);
}
.c-color{
    background-color:#262626;
}
.card-1{
    border-bottom: 10px solid #00AEFF;
    border-radius: 10px;
}
.card-2{
    border-bottom: 10px solid #E31F71;
    border-radius: 10px;
}
.card-3{
    border-bottom: 10px solid #7c2dad;
    border-radius: 10px;
}
.c-color:hover{
    background-color: #7d4dbd;
}

/* protfolio section style*/
.card-container{
    height: 450px;
    width: 350px;
}
/* project background */
.project-1{
    background-image: url("/img/projects-img/02877a1b5ed012399a45fffc46d30d58.jpg");
}
.project-2{
    background-image: url("/img/projects-img/1507f8ab5dc08e311116659a17ab6274.jpg");
}
.project-3{
    background-image: url("/img/projects-img/32398d09cb9d0963018407d77579ed09.png");
}
.project-4{
    background-image: url("/img/projects-img/bc504362fbad27fa67a3df7f88681efe.jpg");
}
.project-5{
    background-image: url("/img/projects-img/e3b2569ad07f580b81d21bc7116b487d.jpg");
}
.project-6{
    background-image: url("/img/projects-img/images.jpg");
}
/* project style */
.profile-wallpaper{
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
}
.info{
    position: absolute;
    opacity:0;
    transition: opacity 0.5s linear 0.5s;
}
.card-btn{
    background-image: linear-gradient(75deg,skyblue,violet);
}
/* protfolio card hover  */
.profile-wallpaper::before{
    content: '';
    background-image: linear-gradient(75deg,skyblue,violet);
    top: -600px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 800px;
    transform: skew(45deg);
    transition: 0.75s;
    z-index: 1;
    
}
.profile-wallpaper::after{
    content: '';
    background-image: linear-gradient(75deg,rgb(42, 9, 133),rgb(182, 21, 182));
    top: 50px;
    left: -200px;
    position: absolute;
    width: 100%;
    height: 800px;
    transform: skew(45deg);
    transition: 0.75s;
    z-index: 1;
}
.profile-wallpaper:hover {
    background-image: none;
}
.profile-wallpaper:hover .info{
    opacity: 1;
    
}
.profile-wallpaper:hover::before{
    top: 110px;
    left: -150px;
}
.profile-wallpaper:hover::after{
    top: -450px;
    left: 150px;
}
/* contact section */
.icon{
    background-color: #31D2F2;
    padding: 20px;
    margin-right: 10px;
}
.input-width{
    width: 47%;
}
::placeholder{
    color: white;
    font-weight: bold;
}
.msg{
    border-radius: 10px;
}
footer{
    background-color: #212121;
}